<!--
    Internationalisierung durch z.B. https://github.com/ocombe/ng2-translate
-->

<ul class="navbar-nav me-auto">
  <li class="nav-item active">
    <a
      routerLink="/kunden/suche"
      routerLinkActive="active"
      class="nav-link"
      aria-label="Suche Kunden"
    >
      <i class="material-icons">search</i>
      <span class="ms-1">Suche</span>
    </a>
  </li>

  <li class="nav-item" *ngIf="isAdmin$ | async">
    <a
      routerLink="/kunden/create"
      class="nav-link"
      aria-label="Neuen Kunde anlegen"
    >
      <i class="material-icons">menu_book</i>
      <span class="ms-1">Neuer Kunde</span>
    </a>
  </li>
</ul>

<hs-login-logout></hs-login-logout>
