@use '../../sass/padding';

footer {
  background-color: whitesmoke;
  bottom: 0;
  height: var(--height-footer);
  line-height: var(--height-footer);
  position: absolute;
  width: 100%;
}

.sticky {
  padding-left: var(--padding);
  padding-right: var(--padding);
}
