<div class="row">
  <label for="modellUpdate" class="col col-2 col-form-label gy-3">Modell *</label>

  <div class="col col-10 gy-3" [formGroup]="updateForm">
    <div class="input-group">
      <input
        id="modellUpdate"
        placeholder="Modell"
        class="form-control"
        autofocus
        formControlName="modell"
        [class.is-invalid]="modell.invalid && modell.touched"
        [class.is-valid]="modell.valid && modell.touched"
      />

      <div
        class="invalid-feedback"
        *ngIf="modell.invalid && modell.touched && modell.errors"
      >
        <i class="material-icons">error</i>
        <span class="ms-1">
          <span *ngIf="modell.errors['required']">
            Ein FahrradModell muss eingegeben werden.
          </span>
          <span *ngIf="modell.errors['minlength']">
            Ein FahrradModell muss mindestens 2 Zeichen lang sein.
          </span>
          <span *ngIf="modell.errors['pattern']">
            Ein FahrradModell muss mit einem Buchstaben oder einer Ziffer beginnen.
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
