// "Partial" Datei als Hilfsdatei fuer @use, d.h. Wiederverwendung

:root {
  // --bluesky: #bed6f8;
  --bluesky: rgb(190 214 248);
  --red: rgb(217 28 13);

  // $black: rgb(0 0 0);
  --black: black;
}
